@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button,input, textarea, /* form elements 表单元素 */
th, td,form,select{ /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}


body,
button, select, textarea { /* for ie */
    font-family: "Lato", Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    12px/1.5 \5b8b\4f53, Arial, sans-serif
    font-size: 100%;
    font-size: 12px;
    word-break: break-all;
    font-family:12px/1.5 "\5b8b\4f53",Arial,sans-serif;
    
}
h1 h2 h3 h4, h5, h6 { font-size: 100%; }

code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } 

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a {text-decoration:none;}
a:hover {text-decoration: underline; }
q:before, q:after {content: ''; }
input,button,select,textarea{outline:none}
textarea{resize:none}
/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; }
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    outline:none;
}
hr {
    border: none;
    height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {overflow-y: auto; }
a{
  color:#666666;
}
/*reset结束*/


/*覆盖 flat-ui*/
.navbar-fixed-top, .navbar-fixed-bottom {
position: inherit;
}