<h5>帐号设置</h5>
<ul class="lists">
    <li><a href="/accounts/settings/profile/">基础信息</a></li>
    <li><a href="{{ url('settings_avatar') }}">头像设置</a></li>
    <li><a href="/accounts/settings/notifications/">密码修改</a></li>
</ul>

<h5>—</h5>
<ul class="lists">
    <li><a href="{{ path('logout') }}">退出</a></li>
</ul>
