{% macro paginator(paginator) %}
  {% if paginator.lastPage > 1 %}
    <ul  class="pagination">
      {% if paginator.currentPage == paginator.firstPage %}
        <li class="disabled"><span>上一页</span></li>
      {% else %}
        <li><a  href="{{ paginator.getPageUrl(paginator.previousPage) }}">上一页</a></li>
      {% endif %}
      {% for page in paginator.pages %}
        <li {% if page == paginator.currentPage %}class="active"{% endif %}><a href="{{ paginator.getPageUrl(page) }}">{{ page }}</a></li>
      {% endfor %}

      {% if paginator.currentPage == paginator.lastPage %}
        <li class="disabled"><span>下一页</span></li>
      {% else %}
        <li><a  href="{{ paginator.getPageUrl(paginator.nextPage) }}">下一页</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}