
    <div class="social-logins">
      
        <a href="{{ path('login_bind', {type:'gitlab', _target_path:targetPath|default('')}) }}" class="social-login-btn"><i class="social-icon social-icon-weibo"></i>git帐号登录</a>
      
    </div>
