{% extends 'RedwoodAdminBundle:Jswidget:layout.html.twig' %}

{% block title %}组件管理 - {{ parent() }}{% endblock %}

{% set menu = 'jswidget' %}

{% set script_controller = 'jswidget/list' %}


{% block mainName %}


{% endblock %}
{% block main %}

    <p>kkkkkkkk</p>
  
{% endblock %}