<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>建设中...</title>
    <link href="{{ asset('assets/css/common.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/redwoodweb/css/web.css') }}" rel="stylesheet" />
 
</head>
<body class="bg-under-construction">
<style type="text/css">
.divcss5{
    font-size:9px;
    -webkit-transform: scale(0.75) translate(-3px, 0px); /*12×0.75= 9,translate调整位置，视具体情况*/
    letter-spacing: 1px; /*间距1px*/
    line-height: 8px;
}
</style>

    <div class="under-construction-box">
        <p style="text-align:center;">
            <span class="under-construction-icon"></span>
        </p>
        <h1 class="white">网站正在<span class="yellow">建设中...</span></h1>
        <h4 class="yellow divcss5">SITE IS UNDER CONSTRUCTION PROCESS.</h4>
        <h4 class="white divcss5">PLEASE VISIT US LATER</h4>
        
    </div>
    
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc0d9ab22e8e4b79429e32a816e7989c6' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
