{% extends 'RedwoodWebBundle::layout.html.twig' %}

{% block title %}html build {% endblock %}

{% set script_controller = 'wecker/pre-html-crop' %}


{% block wrapBox %}
    <div class="pre-crop-box">
        <h1>Cropping page!</h1>
        <p class="lead">请上传要切割的jpg图片，图片请控制大小，去掉js实现部分.</p>
        <div class="pre-crop-form">
            <form  method="post" enctype="multipart/form-data">
                {{ form_widget(form.html,{'attr' : { 'accept': 'image/gif,image/jpeg,image/png', class:'pre-crop-upload'}}) }}

                {{ form_rest(form) }}
                <button type="submit" class="btn btn-large btn-success">上传页面</button>
                 
            </form>
        </div>

        <div class="crop-get-box">
            <p style="margin: 94px 0 10px;font-size: 16px;">如果您已有提取码，请直接输入提取码</p>
            <div class="crop-get-form">
                <div class="input-group">
                    <input type="text" data-role="getSecret" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-url="{{ path('wecker_zip_get') }}" data-role="getZip" type="button">提 取</button>
                    </span>     
                </div>
            </div>

        </div>
        
    </div>

    

{% endblock %}