{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}

{% set nav = 'browse' %}

{% block wrapBox %}
    
    <p class="intro">
       <a href="javascript:;" class="sublime_text">Widget 库</a> 提供较便捷的方式搜寻组件, 以及css样式, 欢迎各类建议或意见  ^_^.
       
    </p>
    <div class="highlights">
       
        {{ render(controller('RedwoodWebBundle:Jswidget:latestJswidget')) }}

        {{ render(controller('RedwoodWebBundle:Jswidget:viewestJswidget')) }}

        {{ render(controller('RedwoodWebBundle:Tag:latestTag')) }}

   </div> 
        
{% endblock %}