{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}

{% set script_controller = 'jswidget/list' %}

{% block title %}
我的组件-{{ parent() }}
{% endblock %}

{% block wrapBox %}

<form id="jswidget-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    在我提交的组件中,  
  <div class="form-group">
    <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}" placeholder="组件名">
  </div>

  <button class="btn btn-primary">搜索</button>
</form>

<table id="jswidget-table" class="table table-striped table-hover" data-search-form="#jswidget-search-form">
  <thead>
    <tr>
      <th>组件名</th>
      <th>简要描述</th>
      <th>创建时间</th>
      <th>访问量</th>
      <th>点赞数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for jswidget in jswidgets %}
      {% include 'RedwoodWebBundle:Jswidget:list-tr.html.twig' with {jswidget:jswidget} %}
    {% endfor %}
  </tbody>
</table>


  
 {{ web_macro.paginator(paginator) }} 
    
{% endblock %}
