{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}


{% set nav = 'manual' %}
{% block wrapBox %}

<link rel="stylesheet" href="{{ asset('bundles/redwoodweb/css/markdown1.css') }}"> 







<title>gitlab使用</title></head><body><article class="markdown-body"><div class="toc">
<ul>
<li><a href="#_1">旨在分享, 完善组件</a></li>
<li><a href="#gitlab-host">所有代码放在公司私有gitlab上, 需先配host</a></li>
<li><a href="#_2">如何提交一个新组件</a><ul>
<li><a href="#1-gitlab">1. 前往 gitlab 创建一个组件项目</a></li>
<li><a href="#2">2. 本地提交代码</a></li>
<li><a href="#3">3. 完善组件库的表单</a></li>
</ul>
</li>
</ul>
</div>
<h2 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>旨在分享, 完善组件</h2>
<p>弱化作者的概念, 希望更多的人去完善一个组件, &lsquo;求异存同&rsquo;</p>
<h2 id="gitlab-host"><a name="user-content-gitlab-host" href="#gitlab-host" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>所有代码放在公司私有gitlab上, 需先配host</h2>
<pre><code>172.20.204.80   gitlab.10jqka.com.cn

172.20.204.24   demo.10jqka.com.cn

172.20.204.24   widget.10jqka.com.cn
</code></pre>
<p>如果配好host仍然不能访问, 请点击右侧 &ldquo;<code>反馈&amp;建议</code>&ldquo;</p>
<h2 id="_2"><a name="user-content-_2" href="#_2" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>如何提交一个新组件</h2>
<p>共3步:</p>
<ol>
<li>
<p>需要前往 gitlab 创建一个组件项目</p>
</li>
<li>
<p>将本地代码上传至 gitlab</p>
</li>
<li>
<p>在组件库里 添加该项目</p>
</li>
</ol>
<p><kbd>tip</kbd> 上传组件后,外网自动可以访问里面的资源: </p>
<blockquote>
<p>外网可访问的资源,html 文件,css文件,js文件都需要放在一个叫<code>demo</code>的文件夹下(<code>demo</code>是指定的文件夹名字)</p>
</blockquote>
<pre><code>newJswidgetNameXXXX
       |
       |------demo // 需要 以demo命名文件夹, 才会被识别
                |
                |---- .html 文件 
                |----css
                      |----  .css 文件
                |---- ...
</code></pre>
<h3 id="1-gitlab"><a name="user-content-1-gitlab" href="#1-gitlab" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>1. 前往 gitlab 创建一个组件项目</h3>
<p>假设我们要创建一个项目 名为: newJswidgetNameXXXX</p>
<p>先去<a href="http://gitlab.10jqka.com.cn/projects/new">创建一个项目 <a href="http://gitlab.10jqka.com.cn/projects/new"><a href="http://gitlab.10jqka.com.cn/projects/new">http://gitlab.10jqka.com.cn/projects/new</a></a></a></p>
<p>如下图:</p>
<p>项目类型, 务必选择 <code>Public</code></p>
<p><img alt="pic" src="{{ asset('bundles/redwoodweb/img/createProject.png') }}" /></p>
<h3 id="2"><a name="user-content-2" href="#2" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>2. 本地提交代码</h3>
<p>在gitlab上面创建成功后, 页面会自动跳转到</p>
<pre><code>http://gitlab.10jqka.com.cn/YourUserName/newJswidgetNameXXXX
</code></pre>
<p>看到有些命令行, 找到 <code>Create a new repository</code>, 把里面的内容在你本地的终端, 跑一遍:</p>
<pre><code>// clone 线上的项目
git clone http://gitlab.10jqka.com.cn/YourUserName/newJswidgetNameXXXX.git

// 进入该目录
cd newJswidgetNameXXXX

// 创建一份说明文档
touch README.md

// 加入版本管理
git add README.md

// 提交
git commit -m "add README"

// 推送到线上
git push -u origin master
</code></pre>
<p>输入gitlab的用户名和密码就可以完成了</p>
<p><kbd>tip</kbd> 每次都要输入用户名和密码很麻烦? 可以在度娘中搜索 <code>"gitlab免密码提交"</code></p>
<p>如果你的项目中含有 <code>demo</code> 文件夹, 那么该目录下的所有内容都会被同步到下面这个地址:  </p>
<pre><code>http://demo.10jqka.com.cn/YourUserName/newJswidgetNameXXXX/
</code></pre>
<h3 id="3"><a name="user-content-3" href="#3" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>3. 完善组件库的表单</h3>
<pre><code>http://widget.10jqka.com.cn/jswidget/create
</code></pre></article>


{% endblock %}