{# src/Redwood/WebBundle/Resources/views/Login/index.html.twig #}
{% extends 'RedwoodWebBundle::webLayout.html.twig' %}


{% set nav = 'manual' %}
{% block wrapBox %}
    
<div id="content">
    manual
</div>
        
{% endblock %}