{% extends 'RedwoodAdminBundle:System:operation.layout.html.twig' %}

{% block title %}登录设置 - {{ parent() }}{% endblock %}

{% set submenu = 'login_bind' %}

{% block maincontent %}
<div class="page-header"><h1>登录设置</h1></div>
ttttttttttttttttttttttttttttttttttttttttt

{% endblock %}